/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
} */

.react-flow__node-default {
  background-color: transparent;
  border: none;
  width: 300px;
}

.react-flow__node-default:hover {
  border: none;
}

.react-flow__node-defaultselected {
  border: none;
}

.react-flow__node-default:active {
  border: none;
}

.react-flow__node-default:focus {
  border: none;
}

.react-flow__edge-path {
  stroke: none;
}

.react-flow__handle {
  opacity: 0;
}