/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
} */

.react-flow__node-default {
  background-color: transparent;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  border: none;
  width: 300px;
  box-shadow: none;
}

.react-flow__node-default:hover {
  border: none;
  transition: none;
  box-shadow: none;
}

.react-flow__node-defaultselected {
  border: none;
}

.react-flow__node-default:active {
  border: none;
}

.react-flow__node-default:focus {
  border: none;
}

.react-flow__edge-path {
  stroke: none;
}

.react-flow__handle {
  opacity: 0;
}
.icon-delete-employee {
  padding: 10px 10px 0 0;
}

.icon-delete-employee:hover {
  color: rgb(83, 83, 83);
  cursor: pointer;
}

.icon-cross-employee:hover {
  color: rgb(83, 83, 83);
  cursor: pointer;
}