.divStyle {
  display: flex;
  flex-direction: column;
  margin-top: 250px;
  margin-right: 200px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}

.buttonStyle {
  display: block;
  height: 25px;
  width: 150px;
  margin: 4px;
  background-color: rgba(0, 123, 255, 0.5);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}